<main class="flex flex-col py-8 px-12">
  <h1 class="text-3xl font-bold">Hello Second Hand demo app!</h1>
  <section class="my-6">
    <router-outlet></router-outlet>
  </section>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="text-blue-500 underline"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="text-blue-500 underline"
          ariaCurrentWhenActive="page"
        >
          About
        </a>
      </li>
    </ul>
  </nav>
</main>
